*
  margin: 0
  padding: 0
  box-sizing: border-box
.token.selector
  color: black
.token.property
  color: black
.token.function
  color: black
.token.rule
  color: black
.token.atrule
  color: black
.token.comment
  color: black
body
  display: flex
#code
  height: 100vh
  overflow: auto
#paper
  width: 50vw
  background-color: black
  padding: 16px
  pre
    background-color: white
    overflow: auto
    height: 100%
    padding: 32px
@keyframes breathe
  0%
    box-shadow: 0 0 10px rgba(0,0,0,1)
  100%
    box-shadow: 0 0 10px rgba(0,0,0,0.2)


