* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

.token.selector { color: black; }

.token.property { color: black; }

.token.function { color: black; }

.token.rule { color: black; }

.token.atrule { color: black; }

.token.comment { color: black; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; }

#code { height: 100vh; overflow: auto; }

#paper { width: 50vw; background-color: black; padding: 16px; }

#paper pre { background-color: white; overflow: auto; height: 100%; padding: 32px; }

@-webkit-keyframes breathe { 0% { -webkit-box-shadow: 0 0 10px black; box-shadow: 0 0 10px black; }
  100% { -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); } }

@keyframes breathe { 0% { -webkit-box-shadow: 0 0 10px black; box-shadow: 0 0 10px black; }
  100% { -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); } }
