* {
    margin: 0;
    padding: 0;
    /* font-size: 0; */
}
#canvas {
    background: green;
    display:block;
    /* height: 100vh;
    position: relative; */
}
.actions {
    position: fixed;
    top: 0;
    left: 0;
    /* font-size: 16px; */
}

.actions>#brush {
    display: none;
}

.actions>#eraser {
    /* display: inline-block; */
    display: block;
}

.actions.eraserEnabled>#brush {
    /* display: inline-block; */
    display: block;
}

.actions.eraserEnabled>#eraser {
    display: none;
}
