*{
    margin: 0;
    padding: 0;
}
main{
    text-align: center;
}
main>.wrapper{
    display: inline-block;
    vertical-align: top;
}
kbd{
    border: 1px solid red;
}
main>.wrapper>div:nth-child(2){
    margin-left: 1em;
}
main>.wrapper>div:nth-child(3){
    margin-left: 2em;
}
main>.wrapper>div>kbd{
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}
kbd>button{
    position: absolute;
    bottom: 0;
    right: 0;
}